@import './base.css';
@import './font.css';
@import 'tailwindcss';
@import 'tailwindcss-primeui';
@import 'primeicons/primeicons.css';
#app {
  margin: 0 auto;
  font-weight: normal;
}
a {
  color: black;
}
body {
  font: var(--text-base);
  display: flex;
  background-color: var(--color-background);
  /* demo */
  place-items: center;
  position: absolute;
}
/* Ẩn scrollbar trên Chrome, Edge, Safari */
::-webkit-scrollbar {
  display: none;
}

/* Ẩn scrollbar trên Firefox */
* {
  scrollbar-width: none; /* Ẩn hoàn toàn */
  -ms-overflow-style: none; /* IE, Edge cũ */
}

/* Vẫn giữ khả năng cuộn */
body {
  overflow: auto;
}

