@import './base.css';
@import './font.css';
@import 'tailwindcss';
@import 'tailwindcss-primeui';

@import 'primeicons/primeicons.css';
#app {
  margin: 0 auto;
  font-weight: normal;
}
a {
  color: black;
}
body {
  font: var(--text-base);
  display: flex;
  background-color: var(--color-background);
  /* demo */
  place-items: center;
}

#app {
  display: grid;
}
